<?php
/*
* This file is part of phpIrofferAdmin.
*
* (c) 2013 Valentin Samir
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/

//database params
$MYSQL['host']='localhost';
$MYSQL['username']='iroffer';
$MYSQL['password']='password';
$MYSQL['database']='iroffer';

setlocale (LC_TIME, 'fr_FR.utf8','fra');
setlocale (LC_ALL, "fr_FR");


define('ADMIN',10);
define('USER',1);

define('ROOT', '/');
define('REWRITE_URL', false);



$_CONFIG['level']=array(
	USER => 'USER',
	ADMIN => 'ADMIN',
);

$_CONFIG['display_error']=0;
$_CONFIG['session_name']='phpIrofferAdmin';
